.App.light {
    // Text colors
    --txt-color-1: #fff;
    --txt-color-2: #979c9e;
    ----txt-color-3: #002283;
    --txt-color-4: #ffd31c;

    //bg colors
    --bg-color-1: #ffffff;
    --bg-color-2: linear-gradient(90deg, #1749c2 0%, #002283 100%);
    --bg-color-3: linear-gradient(90deg, #1749c2 0%, #002283 100%);
    --bg-color-4: #fff;
    --bg-color-5: #333f00;
    --bg-color-img: linear-gradient(90deg, #174ac2e8 0%, #0023832d 100%), url(../../assets/images/car-13.png);

    // Card Colors
    --card-background-1: linear-gradient(90deg, #1749c2 0%, #002283 100%);
    --card-background-2: #fff;

    // Toggler
    --white: #ffffff;
    --black: #000000;
    --reverseblack: #ffffff;
    --reverseWhite: #000000;
    --toggler-color: #2f5bc6;

    // // hover
    // --anchor-color: #4f3674;
    // --h1-background-color: #3c275a;
    // --h1-boarder-color: #d6a800;
    // --heading-background-color: #3c275a;
    // --heading-color: #fff;
    // --heading-boarder-color: #d6a800;
    // --anchor-hover-color: #4f3674;
    // --anchor-hover-background-color: #d6a800;
    // --card-title-color: #4f3674;
    // --btn-background-color: #4f3674;
    // --btn-color: #fff;
    // --btn-hover-background-color: #d6a800;
    // --btn-hover-color: #4f3674;
    // --input-boarder-color: #ccc;

    // /* week-4 Additional Styling Requirements style */
    // --table-header-background-color: #4f3674;
    // --table-header-color: #fff;
    // --table-border-color: #ddd;
    // --table-hover-background-color: #d6a800;
    // --table-hover-color: #4f3674;

    // // Primary Colors
    // --black: #000000;
    // --white: #ffffff;

    // // Secondary Colors
    // --silver: #c0c0c0;
    // --gold: #ffd700;
    // --bronze: #cd7f32;

    // // Accent Colors
    // --blue: #537fe7;
    // --deep-blue: #181823;
    // --warm-blue: #c0eef2;
    // --light-blue: #e9f8f9;
    // --red: #c8102e;
    // --orange: #ff8c00;
    // --green: #228b22;
    // --purple: #4f3674;

    // // Neutral Colors
    // --gray: #808080;
    // --beige: #f5f5dc;
}
/*
    dark theme root colors
*/
.App.dark {
    // Text colors
    --txt-color-1: #fff;
    --txt-color-2: #979c9e;
    --txt-color-3: #002283;
    --txt-color-4: #ffd31c;

    //bg colors
    --bg-color-1: #000;
    --bg-color-2: #1e1e1e;
    --bg-color-3: linear-gradient(90deg, #000312 0%, #050505 100%);
    --bg-color-4: linear-gradient(90deg, #000312 0%, #050505 100%);
    --bg-color-5: #1d2400;
    --bg-color-img: linear-gradient(90deg, #000613 0%, #0023832d 100%), url(../../assets/images/car-13.png);

    // Card Colors
    --card-background-1: linear-gradient(90deg, #000312 0%, #050505 100%);
    --card-background-2: #fff;
    --toggler-color: #1e1e1e;

    // Primary Colors
    --white: #ffffff;
    --black: #000000;
    --reverseblack: #030303;
    --reverseWhite: #ffffff;

    // --text-color: #fafafa;
    // --background-color: #000;
    // --anchor-color: #fff;
    // --h1-background-color: #9c27b0;
    // --h1-boarder-color: #9c27b0;
    // --heading-background-color: #424242;
    // --heading-color: #fff;
    // --heading-boarder-color: #424242;
    // --anchor-hover-color: #d176e1;
    // --anchor-hover-background-color: #303030;
    // --card-background-color: #232323;
    // --card-title-color: #d176e1;
    // --btn-background-color: #d176e1;
    // --btn-color: #fff;
    // --btn-hover-background-color: #764787;
    // --btn-hover-color: #fff;
    // --input-boarder-color: #303030;

    // /* week-4 Additional Styling Requirements style */
    // --table-header-background-color: #d176e1;
    // --table-header-color: #fff;
    // --table-border-color: #303030;
    // --table-hover-background-color: #7d4787;
    // --table-hover-color: #fff;
    // // Primary Colors
    // --black: #000000;
    // --white: #ffffff;

    // // Secondary Colors
    // --silver: #c0c0c0;
    // --gold: #ffd700;
    // --bronze: #cd7f32;

    // // Accent Colors
    // --blue: #537fe7;
    // --deep-blue: #181823;
    // --warm-blue: #c0eef2;
    // --light-blue: #e9f8f9;
    // --red: #c8102e;
    // --orange: #ff8c00;
    // --green: #228b22;
    // --purple: #4f3674;

    // // Neutral Colors
    // $gray: #808080;
    // $beige: #f5f5dc;
}

// -----font-family-------------
$DenkOneFontFamily: "Denk One", sans-serif;
$sansSerifFontFamily: "Segoe UI", sans-serif;

//-----root-brake-points-------
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//---Default max width vtex checkout---
$maxWidth: 1200px;

// body {
//     background: #651d1d;
// }
// $theam: (
//     // ------light-mode-----
//     light:
//         (
// // COLORS
// color-primary: #55c57a,
// color-primary-light: #7ed56f,
// color-primary-dark: #28b485,
// color-secondary-light: #ffb900,
// color-secondary-dark: #ff7730,
// color-tertiary-light: #2998ff,
// color-tertiary-dark: #5643fa,
// color-grey-light-1: #f7f7f7,
// color-grey-light-2: #eee,
// color-grey-dark: #777,
// color-grey-dark-2: #999,
// color-grey-dark-3: #333,
// color-white: #fff,
// color-black: #000
//         ),
//     dark: (
//         // COLORS)
//         color-primary: #095922,
//         color-primary-light: #368727,
//         color-primary-dark: #036e4a,
//         color-secondary-light: #5f490e,
//         color-secondary-dark: #d0510d,
//         color-tertiary-light: #0a365f,
//         color-tertiary-dark: #10057a,
//         color-grey-light-1: #5e0e0e,
//         color-grey-light-2: #b6b6b6,
//         color-grey-dark: #e7c9c9,
//         color-grey-dark-2: #645050,
//         color-grey-dark-3: #2e2828,
//         color-white: #555454
//     )
// );

// @mixin themed() {
//     @each $theme, $map in $themes {
//         .theme--#{$theme} & {
//             $theme-map: () !global;
//             @each $key, $value in $map {
//                 $theme-map: map-merge(
//                     $theme-map,
//                     (
//                         $key: $value,
//                     )
//                 ) !global;
//             }
//             @content;
//             $theme-map: null !global;
//         }
//     }
// }

// @function t($key) {
//     @return map-get($theme-map, $key);
// }

// .light-mode {
//     @include theam("light");
// }

// .dark-mode {
//     @include theam("dark");
// }

// .gradient-mode {
//     @include theam("gradinet");
// }

// // FONT
// $default-font-size: 1.6rem;

// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;

// // Define the light mode styles
// .theme--light {
//     @include themed() {
//         background-color: t(white);
//         color: t(black);

//         h1 {
//             font-size: 2rem;
//             margin-bottom: 20px;
//         }

//         button {
//             background-color: t(primary-color);
//             color: t(white);
//             border: none;
//             padding: 10px 20px;
//             cursor: pointer;
//         }
//     }
// }

// // Define the dark mode styles
// .theme--dark {
//     @include themed() {
//         background-color: t(grey-dark-3);
//         color: t(white);

//         h1 {
//             font-size: 2rem;
//             margin-bottom: 20px;
//         }

//         button {
//             background-color: t(secondary-color-dark);
//             color: t(white);
//             border: none;
//             padding: 10px 20px;
//             cursor: pointer;
//         }
//     }
// }

// .gradient-mode-colors {
//     // COLORS
//     $color-primary: #095922ab;
//     $color-primary-light: #3587275c;
//     $color-primary-dark: #036e4a4b;

//     $color-secondary-light: #5f490e;
//     $color-secondary-dark: #d0510d;

//     $color-tertiary-light: #0a365f5f;
//     $color-tertiary-dark: #11057a5c;

//     $color-grey-light-1: #5e0e0e3d;
//     $color-grey-light-2: #b6b6b650;

//     $color-grey-dark: #e7c9c94d;
//     $color-grey-dark-2: #6450506c;
//     $color-grey-dark-3: #2e28287e;

//     $color-white: #55545451;
// }

$navy-blue: #1a2634;
$navy-blue-light: #1c1f4b;

// Primary Colors
$black: #000000;
$white: #ffffff;

// Secondary Colors
$silver: #c0c0c0;
$gold: #ffd700;
$bronze: #cd7f32;

// Accent Colors
$deep-blue: #0d254c;
$light-blue: #2b547e;
$red: #c8102e;
$orange: #ff8c00;
$green: #228b22;
$purple: #4f3674;

// Neutral Colors
$gray: #808080;
$beige: #f5f5dc;
