.App.light {
    // Text colors
    --txt-color-1: #fff;
    --txt-color-2: #979c9e;
    ----txt-color-3: #002283;
    --txt-color-4: #ffd31c;

    //bg colors
    --bg-color-1: #ffffff;
    --bg-color-2: linear-gradient(90deg, #1749c2 0%, #002283 100%);
    --bg-color-3: linear-gradient(90deg, #1749c2 0%, #002283 100%);
    --bg-color-4: #fff;
    --bg-color-5: #333f00;
    --bg-color-img: linear-gradient(90deg, #174ac2e8 0%, #0023832d 100%), url(../../assets/images/car-13.png);

    // Card Colors
    --card-background-1: linear-gradient(90deg, #1749c2 0%, #002283 100%);
    --card-background-2: #fff;

    // Toggler
    --white: #ffffff;
    --black: #000000;
    --reverseblack: #ffffff;
    --reverseWhite: #000000;
    --toggler-color: #2f5bc6;

    // card shadow
    --card-box-shadow: #00000026 0px 3px 3px 0px;
}
/*
    dark theme root colors
*/
.App.dark {
    // Text colors
    --txt-color-1: #fff;
    --txt-color-2: #979c9e;
    --txt-color-3: #002283;
    --txt-color-4: #ffd31c;

    //bg colors
    --bg-color-1: #000;
    --bg-color-2: #1e1e1e;
    --bg-color-3: linear-gradient(90deg, #000312 0%, #050505 100%);
    --bg-color-4: linear-gradient(90deg, #000312 0%, #050505 100%);
    --bg-color-5: #1d2400;
    --bg-color-img: linear-gradient(90deg, #000613 0%, #0023832d 100%), url(../../assets/images/car-13.png);

    // Card Colors
    --card-background-1: linear-gradient(90deg, #000312 0%, #050505 100%);
    --card-background-2: #fff;
    --toggler-color: #1e1e1e;

    // Primary Colors
    --white: #ffffff;
    --black: #000000;
    --reverseblack: #000000;
    --reverseWhite: #ffffff;

    // card shadow
    --card-box-shadow: #2d3975ac 0px 3px 3px 0px;
}

// -----font-family-------------
$DenkOneFontFamily: "Denk One", sans-serif;
$sansSerifFontFamily: "Segoe UI", sans-serif;

//-----root-brake-points-------
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//---Default max width vtex checkout---
$maxWidth: 1400px;
