.cars-page {
    width: 100%;
    height: 400vh;
    // background: var(--bg-color-1);

    .first-view {
        @include place-item("center");
        height: 100vh;
        flex-direction: column;
        background: var(--bg-color-3);

        .trapizum {
            @include place-item("center");
            width: 96%;
            height: 100%;
            background: var(--bg-color-2);
            max-width: 1400px;
            border-radius: 45px;
            clip-path: polygon(0% 0%, 5% 100%, 95% 100%, 100% 0%);
        }
        .second-view {
            @include place-item("center");
            height: 100vh;
            flex-direction: column;
            background: var(--bg-color-3);
        }
        .third-view {
            @include place-item("center");
            height: 100vh;
            flex-direction: column;
            background: var(--bg-color-3);
        }
        .fourth-view {
            @include place-item("center");
            height: 100vh;
            flex-direction: column;
            background: var(--bg-color-3);
        }
    }
}