.shop-page {
    width: 100%;
    height: auto;

    .first-view {
        @include place-item("center");
        height: auto;
        flex-direction: column;
        background: var(--bg-color-3);
        overflow: visible;
        position: relative;
        padding-bottom: 10px;

        .search-cars-field {
            width: 100%;
            background: #d32a2a;
        }
    }
    .filter-toggler {
        @include place-item("center");
        width: 100%;
        height: 40px;
        background: var(--reverseblack);
        box-shadow: var(--card-box-shadow);
        position: sticky;
        top: 0;
        padding: 0 10px;
        svg {
            cursor: pointer;
        }
        .container {
            @include place-item("between");
            .toggler {
                color: var(--reverseWhite);
            }
            .best-match {
                select {
                    padding: 5px 10px;
                    border-radius: 3px;
                    background: var(--reverseblack);
                    color: var(--reverseWhite);
                }
            }
        }
    }
    .second-view {
        @include place-item("center");
        height: auto;
        // background: var(--bg-color-3);
        background: var(--reverseblack);

        .container {
            width: 100%;
            height: auto;
            gap: 15px;
            align-items: flex-start;
        }
        .car-filter-sidenav {
            width: 350px;
            height: 100%;
            padding: 20px 10px;
            margin-top: 20px;
            color: var(--reverseWhite);
            background: var(--reverseblack);
            box-shadow: var(--card-box-shadow);
            margin-bottom: 40px;
            border-radius: 5px;

            @media (max-width: 792px) {
                display: none;
            }
            // * {

            // }
            .by-condtion {
                width: 100%;
                margin-bottom: 10px;
                transition: cubic-bezier(0.39, 0.575, 0.565, 1);

                button {
                    height: 40px;
                    width: 60px;
                    width: 33.3%;
                    cursor: pointer;
                    color: var(--reverseWhite);
                    background: var(--reverseblack);
                    border: 1px solid silver;
                }
            }

            .accordion {
                width: 100%;

                .toggler {
                    @include place-item("between");

                    height: 50px;
                    cursor: pointer;
                    border-bottom: 1px solid #00043169;
                    &:hover {
                        background: #c4cbff14;
                    }
                }

                .submenu {
                    padding: 20px 10px;
                    background: #736cf81f;
                    border-bottom-left-radius: 7px;
                    border-bottom-right-radius: 7px;
                    .range {
                        .range-slider {
                            width: 100%;
                            height: 10px;
                            border-radius: 10px;
                            // -webkit-appearance: none;
                            // background: linear-gradient(to right, #37adcb, var(--txt-color-4));
                            // outline: none;
                            // opacity: 0.7;
                            // -webkit-transition: 0.2s;
                            // transition: opacity 0.2s;

                            // &::-webkit-slider-thumb {
                            //     -webkit-appearance: none;
                            //     appearance: none;
                            //     width: 20px;
                            //     height: 20px;
                            //     border-radius: 50%;
                            //     background: var(--reverseWhite);
                            //     cursor: pointer;
                            //     -webkit-transition: 0.2s;
                            //     transition: all 0.2s;
                            // }
                        }
                    }

                    .select {
                        display: flex;
                        .select-field {
                            @include place-item("between");
                            .select {
                                width: 100px;
                                padding: 3px 5px;
                            }
                        }
                    }
                    .checkbox {
                        width: 100%;
                        .checkbox-field {
                            @include place-item("between");
                            padding: 5px ;

                        }
                        .see-more{
                            color: rgb(119, 119, 245);
                            padding-left: 5px;
                            margin-top: 15px;
                            cursor: pointer;
                        }
                    }
                }
            }

            // ---------------------------------

            // .by-distance {
            //     .distance-card {
            //         border-radius: 0px;
            //     }
            // }
            // .toggler {
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;
            //     width: 100%;
            //     height: 50px;
            //     border-bottom: 1px solid #00043169;
            //     select {
            //         width: 50%;
            //         padding: 5px 2px;
            //         background: var(--reverseblack);
            //         color:var(--reverseWhite) ;
            //     }
            // }
            // .by-price {
            //     &.expand {
            //         border: 1px solid silver;
            //     }
            // }
            // input {
            //     width: 100%;
            //     height: 30px;
            // }

            // .body-label {
            //     background: #cfd7ff41;
            //     color: var();
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;

            //     .input-filed {
            //         padding: 0 15px;
            //         input {
            //             scale: 1.4;
            //             height: 30px;
            //         }
            //     }
            // }

            // -------------------------------

            // ul {
            //     list-style-type: none;
            // }

            // a {
            //     color: #b63b4d;
            //     text-decoration: none;
            // }

            // /** =======================
            //  * SideNav Accordian
            //  ===========================*/
            // .accordion {
            //     width: 100%;
            //     max-width: 360px;
            //     margin: 30px auto 20px;
            //     background: #fff;
            //     -webkit-border-radius: 4px;
            //     -moz-border-radius: 4px;
            //     border-radius: 4px;
            // }

            // .accordion .link {
            //     cursor: pointer;
            //     display: block;
            //     padding: 15px 15px 15px 25px;
            //     color: #4d4d4d;
            //     font-size: 15px;
            //     font-weight: 600;
            //     border-bottom: 1px solid #ccc;
            //     position: relative;
            //     -webkit-transition: all 0.4s ease;
            //     -o-transition: all 0.4s ease;
            //     transition: all 0.4s ease;
            // }

            // .accordion li:last-child .link {
            //     border-bottom: 0;
            // }

            // .accordion li svg {
            //     position: absolute;
            //     top: 16px;
            //     left: 5px;
            //     font-size: 18px;
            //     color: #595959;
            //     -webkit-transition: all 0.4s ease;
            //     -o-transition: all 0.4s ease;
            //     transition: all 0.4s ease;
            // }

            // .accordion li .icon-down {
            //     right: 12px;
            //     left: auto;
            //     font-size: 16px;
            // }

            // .accordion li.open .link {
            //     color: #b63b4d;
            // }

            // .accordion li.open i {
            //     color: #b63b4d;
            // }

            // .accordion li.open .icon-down {
            //     -webkit-transform: rotate(180deg);
            //     -ms-transform: rotate(180deg);
            //     -o-transform: rotate(180deg);
            //     transform: rotate(180deg);
            // }

            // /**
            //  * Submenu
            //  -----------------------------*/

            // .submenu {
            //     // display: none;
            //     // display: ;
            //     background: #444359;
            //     font-size: 14px;
            // }

            // .submenu li {
            //     border-bottom: 1px solid #4b4a5e;
            // }

            // .submenu a {
            //     display: block;
            //     text-decoration: none;
            //     color: #d9d9d9;
            //     padding: 12px;
            //     padding-left: 42px;
            //     -webkit-transition: all 0.25s ease;
            //     -o-transition: all 0.25s ease;
            //     transition: all 0.25s ease;
            // }

            // .submenu a:hover {
            //     background: #b63b4d;
            //     color: #fff;
            // }
        }

        .filted-cars {
            width: 100%;
            height: 100%;
            display: grid;
            padding: 20px 0px;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-gap: 20px;

            .car-card {
                background: var(--card-background-3);
                height: 300px;
                border-radius: 25px;
                box-shadow: var(--card-box-shadow);
                padding: 20px 15px;
                cursor: pointer;
            }
        }
    }
    .third-view {
        @include place-item("center");
        height: 200px;
        flex-direction: column;
        background: var(--bg-color-3);

        overflow: visible;
    }
}
