.shop-page {
    width: 100%;
    height: auto;

    .first-view {
        @include place-item("center");
        height: auto;
        flex-direction: column;
        background: var(--bg-color-3);
        overflow: visible;
        position: relative;
        padding-bottom: 10px;

        .search-cars-field {
            width: 100%;
            background: #d32a2a;
        }
    }

    .filter-toggler {
        @include place-item("center");
        width: 100%;
        height: 40px;
        background: var(--reverseblack);
        box-shadow: var(--card-box-shadow);
        position: sticky;
        top: 0;
        padding: 0 10px;
        z-index: 9 !important;
        .container {
            @include place-item("between");

            .toggler {
                display: flex;
                align-items: center;
                text-align: center;
                color: var(--reverseWhite);

                cursor: pointer;
                svg {
                    // color: var(--txt-color-4);
                    font-size: 22px;
                    margin-right: 8px;
                }
                span {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            #modal {
                padding: 0px;
                @media (min-width: 792px) {
                    display: none !important;
                }
            }
            .modal {
                position: fixed;
                width: 270px;
                height: 100vh;
                top: 0;
                left: 0;
                background: var(--bg-color-1);
                box-shadow: var(--card-box-shadow);
                color: var(--reverseWhite);
                padding: 12px 10px;
                z-index: 4 !important;
                animation-duration: 0.3s;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 0px;
                }
                &.closed {
                    animation: slideOut 1s ease 0s 1 normal forwards;
                }
                &.open {
                    animation: slideIn 1s ease 0s 1 normal forwards;
                }

                .header {
                    @include place-item("between");
                    height: 25px;
                    padding: 30px 10px;
                    cursor: pointer;
                    position: sticky;
                    top: 0;
                    font-size: 18px;
                    margin-bottom: 20px;
                    background: var(--bg-color-2);
                    color: var(--white);
                    border-bottom: 0.1px solid varvar(--bg-color-2);
                }

                .content {
                    width: 100%;
                    height: auto;
                    padding: 0 10px;

                    .by-condtion {
                        width: 100%;
                        margin-bottom: 10px;
                        transition: cubic-bezier(0.39, 0.575, 0.565, 1);

                        button {
                            height: 40px;
                            width: 60px;
                            width: 33.3%;
                            cursor: pointer;
                            color: var(--reverseWhite);
                            background: var(--reverseblack);
                            border: 1px solid silver;
                        }
                    }

                    .accordion {
                        width: 100%;
                        height: auto;

                        .toggler {
                            @include place-item("between");

                            height: 50px;
                            cursor: pointer;
                            border-bottom: 1px solid #00043169;
                            &:hover {
                                background: #c4cbff14;
                            }
                            .labeltitle small {
                                font-size: 12px;
                            }
                        }

                        .submenu {
                            padding: 20px 10px;
                            background: #736cf81f;
                            border-bottom-left-radius: 7px;
                            border-bottom-right-radius: 7px;
                            -webkit-transition: all 0.25s ease;
                            -o-transition: all 0.25s ease;
                            transition: all 0.25s ease;
                            .range {
                                .range-slider {
                                    width: 100%;
                                    height: 10px;
                                    border-radius: 10px;
                                }
                            }

                            .select {
                                display: flex;
                                .select-field {
                                    @include place-item("between");
                                    .select {
                                        width: 100px;
                                        padding: 3px 5px;
                                    }
                                }
                            }
                            .checkbox {
                                width: 100%;
                                .checkbox-field {
                                    @include place-item("between");
                                    padding: 5px;
                                }
                                .see-more {
                                    color: rgb(119, 119, 245);
                                    padding-left: 5px;
                                    margin-top: 15px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            .best-match {
                select {
                    padding: 5px 10px;
                    border-radius: 3px;
                    background: var(--reverseblack);
                    color: var(--reverseWhite);
                }
            }
        }
    }
    .second-view {
        @include place-item("center");
        height: auto;
        background: var(--reverseblack);

        .container {
            width: 100%;
            height: auto;
            gap: 15px;
            align-items: flex-start;
        }
        .car-filter-sidenav {
            width: 270px;
            height: 100%;
            padding: 20px 10px;
            margin-top: 20px;
            color: var(--reverseWhite);
            background: var(--reverseblack);
            box-shadow: var(--card-box-shadow);
            margin-bottom: 40px;
            border-radius: 5px;

            @media (max-width: 792px) {
                display: none;
            }
            .by-condtion {
                width: 100%;
                margin-bottom: 10px;
                transition: cubic-bezier(0.39, 0.575, 0.565, 1);

                button {
                    height: 40px;
                    width: 60px;
                    width: 33.3%;
                    cursor: pointer;
                    color: var(--reverseWhite);
                    background: var(--reverseblack);
                    border: 1px solid silver;
                }
            }

            .accordion {
                width: 100%;

                .toggler {
                    @include place-item("between");

                    height: 50px;
                    cursor: pointer;
                    border-bottom: 1px solid #00043169;
                    &:hover {
                        background: #c4cbff14;
                    }
                }

                .submenu {
                    padding: 20px 10px;
                    background: #736cf81f;
                    border-bottom-left-radius: 7px;
                    border-bottom-right-radius: 7px;
                    -webkit-transition: all 0.25s ease;
                    -o-transition: all 0.25s ease;
                    transition: all 0.25s ease;
                    .range {
                        .range-slider {
                            width: 100%;
                            height: 10px;
                            border-radius: 10px;
                        }
                    }

                    .select {
                        display: flex;
                        .select-field {
                            @include place-item("between");
                            .select {
                                width: 100px;
                                padding: 3px 5px;
                            }
                        }
                    }
                    .checkbox {
                        width: 100%;
                        .checkbox-field {
                            @include place-item("between");
                            padding: 5px;
                        }
                        .see-more {
                            color: rgb(119, 119, 245);
                            padding-left: 5px;
                            margin-top: 15px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .filted-cars {
            width: 100%;
            height: 100%;
            display: grid;
            padding: 20px 0px;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-gap: 20px;


            .car-card {
                background-color: var(--bg-color-1);
                box-shadow: var(--card-box-shadow);
                color: var(--reverseWhite);
                border-radius: 15px;
                overflow: hidden;
                cursor: pointer;
                padding: 0.5rem;
                position: relative;
                transition: 0.15s ease-in;
                height: 380px;
                animation-duration: 6s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                transform: translate3d(0,0,0);
                animation-name: rotate;

                background-image: radial-gradient(circle at 100% 0%, #5e5bffb0 29.5%, hsla(0, 0%, 100%, 0) 30%),
                    radial-gradient(circle at 100% 0%, #5f62ff3d 39.5%, hsla(0, 0%, 100%, 0) 40%),
                    radial-gradient(circle at 100% 0%, #5f62ff3d 49.5%, hsla(0, 0%, 100%, 0) 50%);

                &:hover,
                &:focus-within {
                    box-shadow: 0 0 0 2px #002283, 0 10px 60px 0 rgba(#000, 0.1);
                    transform: translatey(-5px);
                }

                .card-image {
                    z-index: 4;
                    position: relative;
                    @extend .background-img;
                    border-radius: 10px;
                    overflow: hidden;
                    height: 60%;

                    img {
                        @extend .background-img;
                        width: 100%;
                        height: 100%;
                    }
                }
                .card-header {
                    margin-top: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a {
                        font-weight: 600;
                        font-size: 1.375rem;
                        line-height: 1.25;
                        padding-right: 1rem;
                        text-decoration: none;
                        color: inherit;
                        will-change: transform;
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                    .icon-button {
                        border: 0;
                        background-color: #fff;
                        border-radius: 50%;
                        width: 2.5rem;
                        height: 2.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                        font-size: 1.25rem;
                        transition: 0.25s ease;
                        box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 3px 8px 0 rgba(#000, 0.15);
                        z-index: 1;
                        cursor: pointer;
                        color: #565656;

                        svg {
                            width: 1em;
                            height: 1em;
                        }
                        &:hover,
                        &:focus {
                            background-color: #ec4646;
                            color: #fff;
                        }
                    }
                }
                .card-footer {
                    margin-top: 1.25rem;
                    border-top: 1px solid #ddd;
                    padding-top: 1.25rem;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    svg {
                        flex-shrink: 0;
                        width: 1em;
                        height: 1em;
                        margin-right: 0.25em;
                    }
                    .card-meta {
                        display: flex;
                        align-items: center;
                        color: #787878;
                        &:first-child:after {
                            display: block;
                            content: "";
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: currentcolor;
                            margin-left: 0.75rem;
                            margin-right: 0.75rem;
                        }
                    }
                }
            }
        }
    }
    .third-view {
        @include place-item("center");
        height: 200px;
        flex-direction: column;
        background: var(--bg-color-3);

        overflow: visible;
    }
}

// .car-card {
//     background-color: var(--bg-color-1);
//     box-shadow: var(--card-box-shadow);
//     color: var(--reverseWhite);
//     border-radius: 15px;
//     overflow: hidden;
//     padding: 0.5rem;
//     position: relative;
//     transition: 0.15s ease-in;
//     height: 380px;

//     &:hover,
//     &:focus-within {
//         box-shadow: 0 0 0 2px #f9f65fc2, 0 10px 60px 0 rgba(#000, 0.1);
//         transform: translatey(-5px);
//     }

//     .card-image {
//         @extend .background-img;
//         border-radius: 10px;
//         overflow: hidden;
//         height: 60%;

//         img {
//             @extend .background-img;
//             width: 100%;
//             height: 100%;
//         }
//     }
//     .card-header {
//         margin-top: 1.5rem;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         a {
//             font-weight: 600;
//             font-size: 1.375rem;
//             line-height: 1.25;
//             padding-right: 1rem;
//             text-decoration: none;
//             color: inherit;
//             will-change: transform;
//             &:after {
//                 content: "";
//                 position: absolute;
//                 left: 0;
//                 top: 0;
//                 right: 0;
//                 bottom: 0;
//             }
//         }
//         .icon-button {
//             border: 0;
//             background-color: #fff;
//             border-radius: 50%;
//             width: 2.5rem;
//             height: 2.5rem;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-shrink: 0;
//             font-size: 1.25rem;
//             transition: 0.25s ease;
//             box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 3px 8px 0 rgba(#000, 0.15);
//             z-index: 1;
//             cursor: pointer;
//             color: #565656;

//             svg {
//                 width: 1em;
//                 height: 1em;
//             }
//             &:hover,
//             &:focus {
//                 background-color: #ec4646;
//                 color: #fff;
//             }
//         }
//     }
//     .card-footer {
//         margin-top: 1.25rem;
//         border-top: 1px solid #ddd;
//         padding-top: 1.25rem;
//         display: flex;
//         align-items: center;
//         flex-wrap: wrap;
//         svg {
//             flex-shrink: 0;
//             width: 1em;
//             height: 1em;
//             margin-right: 0.25em;
//         }
//         .card-meta {
//             display: flex;
//             align-items: center;
//             color: #787878;
//             &:first-child:after {
//                 display: block;
//                 content: "";
//                 width: 4px;
//                 height: 4px;
//                 border-radius: 50%;
//                 background-color: currentcolor;
//                 margin-left: 0.75rem;
//                 margin-right: 0.75rem;
//             }
//         }
//     }
// }
