header {
    @include place-item("center");
    height: 75px !important;
    overflow: hidden;
    .container {
        .logo-with-links {
            display: flex;
            align-items: center;
            img {
                width: auto;
                height: 50px;
                margin-right: 20px;
            }
            ul {
                padding-top: 10px;
                display: flex;
                li a {
                    color: var(--white);
                    font-size: 14px;
                    font-weight: 400;
                    margin-right: 15px;
                    letter-spacing: 0.1px;
                    word-spacing: -2px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        border-bottom: 2px solid var(--gold);
                    }
                }
            }
        }
        .account-locaion {
            display: flex;

        }
    }
}
